.admin-header {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    text-align: right;
    align-items: center;
    text-align: right;
    padding: 8px 12px;

    .section-right {
        button.dropdown {
            background: 0;
            border: 0;
            color: $sec-color;
            line-height: 15px;
            padding-right: 14px;
            font-size: 9px;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;

            svg {
                margin-left: 6px;
                font-size: 12px;
                top: -1px;
                height: 11px;
                position: absolute;
            }
        }
    }

}