.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
    background-color: white;
    color: $sec-color;
    transition-duration: 0.4s;

    z-index: 5;
    left: -100%;

    &.active {
        left: 0;
    }

    .logo {
        width: 100%;
        padding: 15px 15px 15px 90px;
        height: 80px;
        position: relative;

        img {
            position: absolute;
            left: 15px;
            top: 15px;
            height: 58px;
        }

        h2 {
            font-size: 27px;
        }

        h3 {
            font-size: 23px;
        }
    }

    ul {
        margin-top: 10px;
        li {
            a {
                padding: 12px 0px;
                display: grid;
                grid-template-columns: 85px 80%;
                cursor: pointer;
                color: $sec-color;
                text-decoration: none;
                font-size: 20px;
            }

            .pull-left {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}